
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
	<div class="container">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="../PanelIntranet/">
			<img src="../images/Logotipo_Tienda_GameStore.jpg" width="70" height="50">
		</a>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<a class="navbar-brand" href="../PanelIntranet/">GameStore</a>
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active">
					<a class="nav-link" href="../PanelIntranet/">
						<i class="bi bi-joystick"></i>
						Productos
						<span class="sr-only">(Productos)</span>
					</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="../PanelIntranet/OrdenVenta.jsp">
						<i class="bi bi-list-ol"></i>
						Orden Venta
						<span class="sr-only">(Orden Venta)</span>
					</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="../PanelIntranet/Configuracion.jsp">
						<i class="bi bi-gear"></i> 
						Configuración
						<span class="sr-only">(Configuración)</span>
					</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#">
						<i class="bi bi-box-arrow-left"></i> 
						Cerrar Sesión 
						<span class="sr-only">(Cerrar Sesión)</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>